name: Publish Helm Chart

on:
  push:
    paths:
      - 'helm-charts/**'
      - '.github/workflows/release-helm.yml'
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to gh-pages
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Set up Helm
      uses: azure/setup-helm@v4.3.0
      with:
        version: 'v3.16.3'

    - name: Run publish script
      run: |
        set -e

        CHART_DIR="helm-charts"
        REPO_NAME="opentelemetry-demo"
        REPO_URL="https://lgu-se-internal.github.io/opentelemetry-demo"

        helm dependency update $CHART_DIR

        mkdir -p .deploy
        helm package $CHART_DIR -d .deploy

        cd .deploy
        if [ -f index.yaml ]; then
            helm repo index . --url $REPO_URL --merge index.yaml
        else
            helm repo index . --url $REPO_URL
        fi

    - name: Publish to gh-pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: .deploy
        publish_branch: gh-pages
        force_orphan: true